* {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightyellow;
}

.profile {
    background-color: lightyellow;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 400px;
    background-position: top;
    background-size: cover; 
    background-image: url(./img/earth.png);
    background-attachment: fixed;
}


.profile div {
    color: white;
    padding-bottom: 40px;
    font-size: medium;
    font-weight: 400;
    background-color: transparent;
}

.profile #name {
    font-size: 50px;
    font-weight: 600;
    padding: 100px;
    color: white;
}

.profile img {
    padding-top: 30px;
}

.info {
    padding: 20px;
}


details div{
    padding-bottom: 30px;
    margin-left: 30px;
}

details summary {
    font-size: xx-large;
    font-weight: 400;
    margin: 0px 20px;
    padding: 20px 0px;
}

.hobbie-headings {
    font-size: 30px;
    font-weight: bold;
}

